
.tbody {

    width: auto;
    margin: 200px;
    margin-right: 200px;
    margin-top: 5px;
    margin-bottom: 50px;
    border: 3px solid #232424;
    
    
    }
    
table {

    overflow-x: scroll;
    z-index: 1;

}

.reception, .schedule, .delivery {

    overflow-x: scroll;

}

#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    z-index: 1000;
}

#modal-content {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    display: none;
    height: 240px;
    left: 50%;
    margin: -120px 0 0 -160px;
    padding: 10px;
    position: fixed;
    top: 50%;
    width: 320px;
    z-index: 1000;
}

#modal-background.active, #modal-content.active {
    display: block;
}​

#cooltoast-container {
 
    width: auto;
    position: absolute;
    top: 75px;
    right: 50px;
  }
  
  
  .cooltoast-toast {
    position: relative;
    padding: 8px 12px;
    margin: 16px;
    border-radius: 8px;
    background: #F5F5F5;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(0,0,0,0.08), 0 1px 3px rgba(0,0,0,0.19);
    animation-duration:  .3s;
    animation-name: cooltoast;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    position: absolute;
    top: 75px;
    right: 50px;
  }
  
  .cooltoast-fadeOut {
    animation-name: cooltoastFadeOut;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-fill-mode: forwards;
  }
  
  #cooltoast-container p,
  #cooltoast-container h4 {
    margin: 3px 0!important;
  }
  
  .cooltoast-title {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .cooltoast-text {
    font-size: 14px;
    color: #777;
  }
  
  .cooltoast-icon {
    position: absolute;
    top: 5px;
    left: -40px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #FFF;
  }
  
  .cooltoast-toast a, .cooltoast-toast a:hover {
    color: #549EDB !important;
    text-decoration: none !important;
  }
  
  /** toast types */
  .cooltoast-success {
    border-bottom: 2px solid #51C625;
  }
  
  .cooltoast-warning {
    border-bottom: 2px solid #DB9215;
  }
  
  .cooltoast-error {
    border-bottom: 2px solid #DB2B1D;
  }
  
  .cooltoast-info {
    border-bottom: 2px solid #27ABDB;
  }
  
  @keyframes cooltoast {
    from {
      transform: translate3d(400px, 0, 0);;
      opacity: 0;
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  @keyframes cooltoastFadeOut {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    to {
      transform: translate3d(400px, 0, 0);
      opacity: 0;
    }
  }
  
  